@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #026E81, #00ABBD);
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #004b53ab;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FF9933;
    text-align: center;
    text-shadow: 1px 1px 2px #5031117c;
}

h2{
    color:#0099DD;
}